<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DevBootCampProblem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BE920AE1DD79D7100D5F6DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BE920C21DD79D7100D5F6DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BE920CD1DD79D7100D5F6DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
